<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta name="viewport" content="width=device-width,initial-scale=1.0" charset="UTF-8"/>
    <title>Book a Ride</title>
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="../../resources/css/datepicker.css" th:href="@{/resources/css/datepicker.css}"/>
    <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css" media="screen"/>
    <link rel="stylesheet" href="../../resources/css/form.css" th:href="@{/resources/css/form.css}"/>
</head>
<body>
<div class="container">
    <!--<div class="row">-->
    <div>

    </div>
    <div class="col-xs-3"></div>
    <div class="col-xs-6 well">
        <h4 class="text-center">Crazy Calvin's Kangaroo Rides</h4>

        <form th:action="@{/form}" th:object="${formDetails}" method="post" class="form-horizontal">

            <div class="alert alert-danger" role="alert" th:if="${errorMessageList}">
                <div th:each="error : ${errorMessageList}">
                    <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
                    <label th:text="${error}" class="text-center"></label>
                </div>
            </div>

            <div class="form-group">
                <label for="FirstName" class="control-label col-xs-4">First Name*</label>

                <div class="col-xs-8">
                    <input th:type="text" th:field="*{firstName}" id="FirstName" class="form-control"/>
                </div>
            </div>

            <div class="form-group">
                <label for="LastName" class="control-label col-xs-4">Last Name*</label>

                <div class="col-xs-8">
                    <input th:type="text" th:field="*{lastName}" id="LastName" class="form-control"/>
                </div>
            </div>

            <div class="form-group">
                <label for="EmailAddress" class="control-label col-xs-4">Email Address*</label>

                <div class="col-xs-8">
                    <input th:type="text" th:field="*{emailAddress}" id="EmailAddress" class="form-control"/>
                </div>
            </div>

            <div class="form-group">
                <label for="PhoneNumber" class="control-label col-xs-4">Phone Number*</label>

                <div class="col-xs-8">
                    <input th:type="text" th:field="*{phoneNumber}" id="PhoneNumber" class="form-control"/>
                </div>
            </div>

            <div class="form-group">
                <div class="radio">
                    <label for="rideName" class="control-label col-xs-4">Select a Ride*</label>

                    <div class="col-xs-8">
                        <div th:each="ride : ${rides}">
                            <input id="rideName" type="radio" th:field="*{rideName}" th:value="${ride}"/>
                            <label th:text="${ride}">Select a Ride</label>
                        </div>
                    </div>
                </div>
            </div>

            <div class="date form-group">
                <label for="datepicker" class="control-label col-xs-4">Pick a Date*</label>

                <div class="col-xs-8">
                    <input type="text" placeholder="click to show datepicker" id="datepicker"
                           onchange="sendDate()" th:field="*{date}" class="form-control"/>
                </div>
            </div>

            <div class="time form-group">
                <label for="timeSlots" class="control-label col-xs-4">Pick a Time*</label>

                <div class="col-xs-8">
                    <select id="timeSlots" th:field="*{time}" class="form-control"></select>
                </div>
            </div>

            <div class="form-group">
                <label for="Comments" class="control-label col-xs-4">Comments</label>

                <div class="col-xs-8">
                    <input th:type="text" th:field="*{comments}" id="Comments" class="form-control"/>
                </div>
            </div>

            <div class="form-group">
                <input type="submit" id="submit" class="btn btn-primary center-block" value="submit"/>
            </div>

        </form>
    </div>
    <div class="col-xs-3"></div>
    <!--</div>-->
</div>
<!-- jQuery library -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
<!-- Latest compiled JavaScript -->
<script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
<script src="../../resources/js/datepicker.js" th:src="@{/resources/js/datepicker.js}"></script>
<script src="../../resources/js/sendDateToServer.js" th:src="@{/resources/js/sendDateToServer.js}"></script>
<script type="text/javascript">
    $(document).ready(function () {
        $('#datepicker').datepicker({
            format: "yyyy/mm/dd"
        });
    });
</script>

</body>
</html>