<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>Book a Ride</title>
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="../../resources/css/datepicker.css" th:href="@{/resources/css/datepicker.css}"/>
    <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css"/>
</head>
<body>
    <form th:action="@{/form}" th:object="${formDetails}" method="post">
        <div class="firstname">
            First Name* : <input th:type="text" th:field="*{firstName}"/>
        </div>
        <div class="lastname">
            Last Name* : <input th:type="text" th:field="*{lastName}"/>
        </div>
        <div class="email">
            Email* : <input th:type="text" th:field="*{emailAddress}"/>
        </div>
        <div class="phoneNumber">
            Phone Number* : <input th:type="text" th:field="*{phoneNumber}"/>
        </div>
        <div class="address">
            Address* : <input th:type="text" th:field="*{address}"/>
        </div>
        <div class="Ride_Name">
           Select a Ride*
            <ul>
                <li th:each="ride : ${rides}">
                    <input type="radio" th:field="*{rideName}" th:value="${ride}"/>
                    <label th:text="${ride}">Select a Ride</label>
                </li>
            </ul>
        </div>
        <div class="date">
           Pick a Date* : <input  type="text" placeholder="click to show datepicker" id="datepicker" onchange="sendDate()" th:field="*{date}"/>
        </div>
        <div class="time">
            Pick a Time* : <select id="timeSlots" th:field="*{time}"></select>
        </div>
        <div class="comments">
            Additional Comments : <input  type="text" placeholder="Please add in additional Comments" id="comments" th:field="*{comments}"/>
        </div>
        <div class="submit">
            <input type="submit" value="submit"/>
        </div>
    </form>

    <!-- jQuery library -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
    <!-- Latest compiled JavaScript -->
    <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
    <script src="../../resources/js/datepicker.js" th:src="@{/resources/js/datepicker.js}"></script>
    <script src="../../resources/js/sendDateToServer.js" th:src="@{/resources/js/sendDateToServer.js}"></script>
    <script type="text/javascript">
        $(document).ready(function () {
            $('#datepicker').datepicker({
            format: "dd/mm/yyyy"
            });
    });
    </script>

</body>
</html>